<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 控制台日志输出设置 -->
    <appender name="CONSOLE-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%d) [%green(%t)] %highlight(%-5p) [%cyan(%c:%L)] - %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE-APPENDER"/>
    </root>

</configuration>